In [1]:
from cobra import Model,Reaction,Metabolite

In [2]:
model=Model('task1')

In [3]:
v0=Reaction('v0')
v0.name='v0'
v0.lower_bound=1
v0.upper_bound=1

In [4]:
v1=Reaction('v1')
v1.name='v1'
v1.lower_bound=0
v1.upper_bound=1000

In [5]:
v2=Reaction('v2')
v2.name='v2'
v2.lower_bound=0
v2.upper_bound=1000

In [6]:
Mu=Reaction('Mu')
Mu.name='Mu'
Mu.lower_bound=0
Mu.upper_bound=1000

In [7]:
glce=Metabolite('gl',compartment='c')

In [8]:
AA=Metabolite('AA',compartment='c')

In [9]:
biomass=Metabolite('biomass',compartment='c')

In [10]:
v0.add_metabolites({glce:1})

In [11]:
v1.add_metabolites({glce:-1,AA:1})

In [12]:
v2.add_metabolites({AA:-9.09,biomass:1})

In [13]:
Mu.add_metabolites({biomass:-1})

In [14]:
model.add_reactions([v0,v1,v2,Mu])

In [15]:
model.objective='Mu'

In [16]:
model.optimize()